#container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid red 1px;
    max-width: 100vw;
    max-height: 100vh;
}

#squareGrid {
    border: solid green 1px;
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    max-height: 100vh;
}

.squareRow {
    flex: auto;
    display: flex;
    width: 100%;
    border: solid black 1px;
}

.square {
    flex: auto;
    border: solid black 1px;
    aspect-ratio: 1/1;
}